.events-list .event-item.draft {
	background-color: #151;
	background-image: repeating-linear-gradient(-45deg, #151, #151 10px, #171 10px, #171 20px);
	border-color: #131;
	color: #fff;
}

.events-list .event-item.team {
	background-color: #51b749;
	border-color: #113;
	color: #fff;
}

.events-list .event-item.draft.team {
	background-color: #7ae7bf;
	background-image: repeating-linear-gradient(
		-45deg,
		#51b749,
		#51b749 10px,
		#55da5e 10px,
		#55da5e 20px
	);
	color: #000;
}

.events-list .event-item.tentative {
	background-color: #46d6db;
	border-color: #113;
	color: #000;
}

.events-list .event-item.cancelled {
	background-color: #dc2127;
	background-image: repeating-linear-gradient(
		-45deg,
		#dc2127,
		#dc2127 10px,
		#f77 10px,
		#f77 20px
	);
	border-color: #faa;
	color: #fff;
}

.events-list .event-item.info {
	background-color: #a4bdfc;
	border-color: #000;
	color: #000;
}
