$primary-color: 		#0b375b;
$secondary-color:		#f6bf22;
$special-text-color: 	#ffffff;
$normal-text-color:		#0b375b;
$link-color:			#2875d7;
$h1-color:				$primary-color;
$h-color:				#396f9c;

$text-font:				RobotoRegular;

$primary-button-color: #4278ba;
$secondary-button-color: #07346c;