keys
configs
buildcache
packages/server/mysqldumps

node_modules

packages/*/node_modules
packages/*/dist
packages/*/.env
packages/*/*.tsbuildinfo
packages/*/yarn-error.log

yarn-error.log
lerna-debug.log

capwatch_downloads