.flightrow {
	width: 100%;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 0;
	margin: 0 10px;
	border-top-width: 0px;
}

.flightrow-name {
	width: 100%;
	height: 16px;
	font-size: 14px;
	border-bottom: 1px solid black;
	font-weight: bold;
}

.flightrow-names {
	overflow: hidden;
}

.flightrow-names-open {
	min-height: 50px;
}