.checkboxDiv {
	position: relative;
	margin: 0;
	margin-bottom: 10px;
	line-height: normal;
	clear: both;
	height: 22px;

	input + label {
		width: 20px;
		height: 20px;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		background: #fcfff4;
		background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		border-radius: 4px;
		box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
		z-index: 0;

		&.disabled {
			background: #7e7f7a;
			background: linear-gradient(to bottom, #7e7f7a 0%, #6f726b 40%, #595f56 100%);
		}

		&.disabled:after {
			border-color: #33333333;
		}

		&:after {
			content: '';
			width: 9px;
			height: 5px;
			position: absolute;
			top: 4px;
			left: 4px;
			border: 3px solid #333333;
			border-top: none;
			border-right: none;
			background: transparent;
			opacity: 0;
			transform: rotate(-45deg);
			z-index: 0;
		}
	}

	input[type='checkbox'] {
		visibility: hidden;
		position: absolute;

		&:checked + label:after {
			opacity: 1;
		}
	}

	input + label + label {
		padding-left: 15px;
		float: left;
		margin-left: 15px;
	}
}
