.datetime-input-root {
	clear: both;
	position: relative;
	padding-right: 2px;
}

.datetime-input-box input, .date-input-box input, .time-input-box input {
	border: 1px solid black;
	height: 15px;
	padding: 5px;
	font-family: 'Courier New', Courier, monospace;
	text-align: right;
	font-size: 12px;
	line-height: 10;
}

/*
.datetime-input-root input:focus, .datetime-input-root button:focus {
	outline: none;
}

.datetime-input-root.focused > div {
	outline: 1px solid #2857d7;
	clear: both;
	overflow: auto;
}
*/

.datetime-input-seperator {
	font-family: 'Courier New', Courier, monospace;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px 0;
	width: 0;
	height: 15px;
	line-height: 14px;
	float: left;
}

.datetime-input-root .date-input {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right-width: 0px;
	float: left;
}

.datetime-input-box .time-input {
	border-right-width: 0px;
	border-left-width: 0px;
	float: left;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-right: 2px;
}

.datetime-input-gui-root {
	display: block;
	position: absolute;
	top: 30px;
	z-index: 5000;
	background-color: white;
	border: 1px solid black;
}

.datetime-input-gui-parent {
	position: relative;
}