.selector-filters {
	background: white;
	border: 1px solid black;
	border-bottom: none;
	overflow: auto;
	clear: both;
}

.selector-filters ul {
	list-style-type: none;
	margin: 0;
}

.selector-filters ul li {
	display: flex;
	padding: 5px;
}

.selector-filters ul li .selector-left-filter {
	flex-basis: 220px;
	order: 1;
	padding-top: 9px;
	padding-left: 9px;
	box-sizing: border-box;
}

.selector-filters ul li .selector-right-filter {
	flex: 1;
	order: 2;
}

.selector-values {
	margin: 0 !important;
	background: white;
	border: 1px solid black;
	padding-left: 0;
}

.selector-values li {
	display: block;
	list-style-type: none;
	padding: 5px !important;
	cursor: pointer;
	box-sizing: border-box;
}

.selector-values li.selected {
	background: blue;
	color: white !important;
}