.textarea-leftalign {
	text-align: left;
}
.textarea-centeralign {
	text-align: center;
}
.textarea-rightalign {
	text-align: right;
}

.textarea-box {
	$border-color: #aaaaaa;

	border: 1px solid $border-color;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 1em;

	.textarea-box-controls {
		border-bottom: 1px solid $border-color;
		box-sizing: border-box;
		padding: 10px;
		padding-bottom: 5px;
		margin: 0;
		color: $border-color;

		span {
			display: inline-block;
			height: 25px;
			line-height: 25px;
			border: 1px solid $border-color;
			background-color: transparent;
			cursor: pointer;
			color: #444444;
			margin-right: 5px;
			width: 29px;
			text-align: center;
			margin-bottom: 5px;
		}
	}

	.textarea-box-editor {
		box-sizing: border-box;
		margin: 0;
		padding: 15px;
	}
}