.flightcontactlist-item {
	clear: both;
	padding: 15px;
	border-top: 1px solid black;
}

.flightcontactlist-phones p {
	margin-top: -10px !important;
}

.flightcontactlist-item:nth-of-type(1) {
	border-top-width: 0;
}

.flightcontactlist-name {
	float: left;
	width: 50%;
}

.flightcontactlist-phones {
	float: left;
}

.flightcontactlist-item .absent {
	font-style: italic;
	color: red;
}