@import '../../theme';

@media screen {
	footer {
		grid-area: footer;

		background: #0f407d;
		margin-top: -50px;
		padding-top: 68px;
		z-index: -20;
		box-shadow: inset 0 30px 30px -25px #002149;

		display: grid;
		grid-template-areas:
			". footer ."
			". extra .";
		grid-template-columns: 1fr 1028px 1fr;
		grid-template-rows: auto;

		.contact {
			grid-area: footer;

			display: flex;
			flex-direction: row;

			div {
				flex: 1;
			}
		}

		.footerBoxTitle {
			font-family: "RobotoRegular", Arial, Helvetica, sans-serif;
			font-size: 16px;
			color: $secondary-color;
			line-height: 20px;
			margin: 0 0 7px 0;
		}

		.links {
			grid-area: extra;

			border-top: 1px solid  #305d95;
			margin-top: 20px;
			padding: 21px 0 0 0;

			.links-right {
				float: right;
				font-size: 12px;
			}

			.info-left {
				float: left;
				font-size: 12px;
			}
		}
		
		p {
			font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: white;
			line-height: 20px;
			margin: 0 0 10px 0;
		}

		.social-media {
			display: inline-block;
			width: 32px;
			height: 32px;
			margin-right: 8px;
			text-decoration: none;
			background-size: 32px 32px;
			background-attachment: initial;
			content: " ";

			&.fb {
				background-image: url('/images/sm/fb.png')
			}

			&.twitter {
				background-image: url('/images/sm/tw.png')
			}

			&.youtube {
				background-image: url('/images/sm/yt.png')
			}

			&.linkedin {
				background-image: url('/images/sm/li.png')
			}

			&.instagram {
				background-image: url('/images/sm/insta.png')
			}

			&.flickr {
				background-image: url('/images/sm/flickr.png')
			}

			&.discord {
				background-image: url('/images/sm/discord.png')
			}
		}
	}
}

@media print {
	footer {
		display: none;
	}
}

@media (max-width: 1028px) {
	footer {
		grid-template-areas:
			"footer"
			"extra";
		grid-template-columns: 100%;
		grid-template-rows: min-content min-content;

		.contact {
			flex-direction: column;
		}

		.links .links-right, .links .info-left {
			float: none;
			clear: both;
			margin: 0 auto;
		}
	}
}