@import '../../theme';

@media screen {
	.side-nav {
		grid-area: side-nav;

		margin-right: 3px;
		background: url('/images/bg-left-column.jpg') repeat-x;
		min-height: 570px;

		ul {
			margin: 0;
			position: sticky;
			top: 0;
			padding: 0;
			list-style-type: none;
			z-index: 35;
		}

		.nav-item {
			margin: 0;
			padding: 0px 0;
			box-sizing: border-box;
			border-bottom: 2px solid #022c61;
			border-top: 1px solid #1e487f;
			width: 100%;
			float: left;
			background-image: linear-gradient(
				to bottom,
				rgba(13, 58, 116, 1) 1%,
				rgba(5, 50, 109, 1) 100%
			);
			color: #0b375b;
			font-size: 14px;
			line-height: 22px;
			font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
			z-index: 35;

			a,
			button {
				font-family: 'Myriad Pro', 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT',
					Calibri, sans-serif;
				font-size: 14px;
				line-height: 18px;
				color: white;
				text-decoration: none;
				padding: 9px 0 5px 0;
				margin: 0 10px 0 10px;
				width: calc(100% - 20px);
				float: left;
				text-align: left;
				border: 0;
				background-image: linear-gradient(
					to bottom,
					rgba(13, 58, 116, 1) 1%,
					rgba(5, 50, 109, 1) 100%
				);

				span {
					margin: 0 0 0 8px;
					width: calc(100% - 32px);
					float: left;
					text-overflow: clip;
					word-break: break-word;
				}

				.arrow {
					background-image: url('/images/ic-arrows.png');
					background-repeat: no-repeat;
					width: 4px;
					height: 6px;
					background-position: 0 0;
					display: inline-block;
					margin: 5px 0 0 0;
				}

				&:hover {
					span {
						color: $secondary-color;
					}

					.arrow {
						background-position: 0 -6px;
					}
				}
			}
		}
	}
}

@media print {
	.side-nav {
		display: none;
	}
}

@media (max-width: 1028px) {
	.side-nav .nav-item {
		padding: 5px 0;
	}

	.side-nav {
		overflow: hidden;
		margin-right: 0;
		min-height: 0;
		background-size: 100%;
		z-index: 40;
	}

	.side-nav.parent-closed {
		z-index: 40;
	}

	.side-nav.stuck {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
	}

	.side-nav ul {
		position: relative;
	}
}
