@media screen {
	section.slideshow-box {
		width: 100%;
		position: relative;
		overflow: hidden;

		.slideshow {
			margin-top: -29px;
			position: relative;
			overflow: hidden;
			width: 100%;
		}

		.image {
			width: 100%;
			height: 342px;
			background-size: cover;
			background-image: url('/images/banner');
			background-position: 0 50%;
		}

		.slideshow-top {
			height: 29px;
			background-image: url('/images/bg-slideshow-borders.png');
			background-repeat: no-repeat;
			background-position: 0 0;
			position: relative;
			z-index: 10;
		}
		
		.slideshow-bottom {
			width: 100%;
			height: 31px;
			background-image: url('/images/bg-slideshow-borders.png');
			background-repeat: no-repeat;
			background-position: 0 -29px;
			position: relative;
			z-index: 10;
			margin: -27px 0 0 0;
		}
	}
}

@media print {
	section.slideshow-box {
		display: none;
	}
}