.floatAllthewayRight {
	float: right;
}

.underline-button {
	text-decoration: underline;
}

.blog-post-author {
	float: left;
	color: gray;
	font-style: italic;
}

.blog-post-timestamp {
	float: right;
	color: gray;
	font-style: italic;
}

.blog-post-content {
	padding-top: 30px;
}