.calendar tbody, .calendar {
	width: 100%;
	box-sizing: border-box;
}

.calendar table, .calendar caption {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	box-sizing: border-box;
}

.calendar caption {
	padding: 5px;
	font-size: 1.2em;
}

.calendar caption {
	border-bottom-width: 0;
}

.calendar .left-link {
	float: left;
	font-size: 0.8333em;
}

.calendar .right-link {
	float: right;
	font-size: 0.8333em;
}

.calendar tbody td, .calendar tbody th {
	border: 1px solid black;
	width: 14.28%;
	border-collapse: collapse;
	box-sizing: border-box;
	padding: 0;
	max-width: 101px;
	vertical-align: top;
}

.calendar td.calendar-outmonth .date-name {
	color: gray;
}

.calendar .date-name {
	box-sizing: border-box;
	padding: 2px;
	margin: 0;
	border-bottom: 1px solid black;
}

.calendar .events-list {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	min-height: 100px;
}

.calendar .events-list .event-item {
	box-sizing: border-box;
	width: calc(100% - 2.5px);
	margin: 0px;
	font-size: 12px;
	padding: 1.5px;
	padding-left: 2px;
	height: 26.5px;
	margin: calc(2.5px / 2);
	background-color: #0f407d;
	color: white;
	border-radius: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: 2px solid #071d31;
	overflow: hidden;
}

.events-list a {
	display: inline-block;
	width: 100%;
}

.events-list .block {
	height: 30px;
	margin: 1px;
	padding: 0px;
	box-sizing: border-box;
	border: 2px solid rgba(0,0,0,0);
}

.calendar .event-item.mergeRight {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: 0;
	width: calc(100% - 1.25px);
	border-right-width: 0;
}

.calendar .event-item.mergeLeft {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 0;
	padding-left: 3px;
	width: calc(100% - 1.25px);
	border-left-width: 0;
}

.calendar .event-item.mergeLeft.mergeRight {
	width: 100%;
}

.calendar .event-link {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.calendar .event-item.first-event-name {
	padding-left: 5px;
}

.calendar .events-list .event-item.draft {
	background-color: #151;
	background-image: repeating-linear-gradient(-45deg, #151, #151 10px, #171 10px, #171 20px);
	border-color: #131;
	color: #FFF;
}

.calendar .events-list .event-item.team {
	background-color: #51B749;
	border-color: #113;
	color: #FFF;
}

.calendar .events-list .event-item.draft.team {
	background-color: #7AE7BF;
	background-image: repeating-linear-gradient(-45deg, #51B749, #51B749 10px, #55da5e 10px, #55da5e 20px);
	color: #000;
}

.calendar .events-list .event-item.tentative {
	background-color: #46D6DB;
	border-color: #113;
	color: #000;
}

.calendar .events-list .event-item.cancelled {
	background-color: #DC2127;
	background-image: repeating-linear-gradient(-45deg, #DC2127, #DC2127 10px, #f77 10px, #f77 20px);
	border-color: #FAA;
	color: #FFF;
}

.calendar .events-list .event-item.info {
	background-color: #A4BDFC;
	border-color: #000;
	color: #000;
}