.photolibrary-box {
	width: 14.27%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
	vertical-align: middle;
	height: 89.148px;
	margin: .89148px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.photolibrary-image {
	max-width: 95%;
	vertical-align: middle;
	max-height: 89.148px;
}

.photolibrary-box-view {
	width: 100%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
	vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
}

.photolibrary-image-view {
	max-width: 90%;
	max-height: 500px;
	vertical-align: middle;
}