@page {
	margin: 5mm;
}

.capf6080-form {
	color: black;
}
.capf6080-block {
	border: thin solid black;
	border-bottom: 0 none black;
	display: grid;
	padding: 2px;
}
.capf6080-block-last {
	border: thin solid black;
}
.capf6080-page-title {
	padding: 2px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.capf6080-block-title {
	padding: 2px;
	font-size: 18;
	font-weight: bold;
	text-align: center;
}
.capf6080-block-title-small {
	text-align: center;
	font-size: 9px;
}
.capf6080-block-title-small-bold {
	text-align: center;
	font-size: 9px;
	font-weight: bold;
}
.capf6080-block-text {
	text-align: left;
	font-size: 11px;
}
.capf6080-block-text-small {
	text-align: center;
	font-size: 10px;
}
.capf6080-block-text-bold {
	text-align: left;
	font-size: 11px;
	font-weight: bold;
}
.capf6080-column {
	padding: 2px;
}
.capf6080-grid-fifths {
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: 20px 17px 17px;
}
.capf6080-grid-half {
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: 20px 17px;
}
.capf6080-grid-thirds {
	grid-template-columns: repeat(3, 33%);
	grid-template-rows: 20px 17px;
}
.capf6080-grid-auth {
	grid-template-columns: 20% 50% 30%;
	grid-template-rows: 20px 14px 17px 17px 14px;
}
.capf6080-grid-header {
	grid-template-columns: 100%;
	grid-template-rows: 17px;
	border-bottom: 2px dashed black;
}
.capf6080-grid-info {
	border-top: 0 solid black;
	grid-template-columns: 50% 50%;
	grid-template-rows: 17px 17px;
}