html
	body
		color: $primary-color
		font-size: 14px
		font-family: 'RobotoRegular', Arial, Helvetica, sans-serif
		background: #0f407c
		margin: 0
		padding: 0

		#bodyContainer
			background: #002149 url('/images/bg-body.jpg') top left repeat-x
			display: inline-block
			width: 100%

#page
	margin: 0 auto
	max-width: 1028px
	width: 100%
