#notification-list {
	width: 100%;
	box-sizing: border-box;
	border-collapse: collapse;
}

#notification-list th {
	width: 30%;
	border: 1px solid black;
	padding: 5px;
	box-sizing: border-box;
}

#notification-list th:nth-child(1) {
	width: 40%;
}

#notification-list tr.notification td {
	border: 1px solid black;
	cursor: pointer;
	padding: 5px;
	box-sizing: border-box;
}

#notification-list tr.current-notification-view td {
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid black;
}

#notification-list tr.current-notification-view  {
	width: 100%;
	margin: 0;
}